/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Neutral Background */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A5BA0; /* Primary Blue */
    padding: 10px 20px;
    color: #555555; /* Dark Gray for text */
}

.logo img {
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar label {
    height: 40px; /* Set height for label */
    margin-right: 5px; /* Adjust margin */
}

.search-bar input {
    padding: 10px; /* Increased padding for better appearance */
    margin-right: 10px;
    height: 40px; /* Set height for input */
    width: 200px; /* Set width for input */
}

.search-bar select {
    height: 40px; /* Set height for select */
    margin-right: 10px; /* Adjust margin */
    width: 150px; /* Set width for select */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links {
    margin: 10px;
}

/* New Style for logo2 */
.header2 {
    border: 0.1px solid rgb(127, 128, 128); /* Adjust thickness and color as needed */
}
